.addBikeForm {
    grid-area: form;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 40px) 75px 50px;
    color: #717171;
    font-size: 12px;
    line-height: 19px;
    padding: 15px 25px 20px 0;
    row-gap: 30px;
    column-gap: 15px;
    border-bottom: 1px solid #C4C4C4;
}

.description {
    grid-column: 1 / 3;
}

div {
    border-radius: 5px;
}

input[type=text], textarea {
    background-color: #E8E8E8;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px 16px;
    resize: none;
    width: 100%;
    height: 100%;
}

input[type=submit], input[type=reset] {
    background-color: #696969;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    cursor: pointer;
    transition: all .5s;
}

input[type=reset]:hover {
    background-color: orangered;
}

input[type=submit]:hover {
    background-color: rgb(51, 202, 51);
}

.error {
    border: 2px solid red;
}
